.vscode
__MACOSX
PLUMED_input_files
*.tar.gz
*.trr
*.xtc
PLUMED_input_files.zip
note.txt
notes.docx
~$notes.docx
.ipynb_checkpoints
*.zip
*.cpt
*.tpr
*_fes_*.dat
fes_*.dat
general-commands.txt
core.*
*.edr
*.csv
state_backup_*
HILLS_*
GRID.*
*.GRID.*
ab-research-notes.docx
*.e*
*.o*
*.pe*
*.po*
*.log
ab40/system/production-t-40r-400-ranks/
ab40/system/production-t-40r-800-ranks/
ab40/system/production-t-80r-400-ranks/
ab40/system/production-t-80r-800-ranks/
ab40/system/production-t-120r-600-ranks/
ab40/system/production-t-120r-1200-ranks/
COLVAR_FOR_SIGMA
*.gro
#*
