.vscode
__MACOSX
PLUMED_input_files
*.tar.gz
*.trr
*.xtc
PLUMED_input_files.zip
note.txt
notes.docx
~$notes.docx
.ipynb_checkpoints
*.zip
*.cpt
*.tpr
*_fes_*.dat
fes_*.dat
general-commands.txt
core.*
*.edr
*.csv
state_backup_*
HILLS_*
GRID.*
*.GRID.*
ab-research-notes.docx
*.e*
*.o*
*.pe*
*.po*
*.log
